.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button > svg path {
  transition: all 0.3s ease-in-out;
}

.icon-button:hover svg path {
  color: rgba(255, 255, 255, 0.5);
}