.our-experience-section {
  width: 100%;
  background-color: var(--primary-black-color);
  padding: 6.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.our-experience-section-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  padding: 0 23rem;
}

.our-experience-section-wrapper-description {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.875rem;
}

.our-experience-section-wrapper-description-img {
  border-radius: 0.25rem;
}

.our-experience-section-wrapper-description-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: inherit;
}

.our-experience-section-wrapper-description-content-title {
  padding-left: 1rem;
  border-left: 0.25rem solid var(--primary-blue-color);
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 3.125rem;
  color: var(--primary-white-color);
  text-align: left;
}

.our-experience-section-wrapper-description-content-subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--transparent-gray-color);
  line-height: 1.5rem;
  text-align: left;
  max-width: 16.875rem;
}

.our-experience-section-wrapper-statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.our-experience-section-brands {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.75rem);
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}