.cars-page {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 2rem;
  padding: 5rem 10rem;
  position: relative;
}

.cars-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
