.cars-page {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 2rem;
  padding: 5rem 10rem;
  position: relative;
}

.cars-page-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}

.cars-page-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 27.4375rem;
  gap: 1.5rem;
}
