.choose-rule-modal-content {
  width: 100%;
  max-width: 56.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--primary-white-color);
}

.choose-rule-modal-content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 0.0625rem solid var(--border-white-color);
}

.choose-rule-modal-content-header-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}

.choose-rule-modal-content-grid {
  width: 100%;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.choose-rule-modal-content-grid-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
}

.choose-rule-modal-content-grid-item-title {
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.02rem;
}
