.rules-page {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem 7.5rem;
}

.rules-page-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 26rem);
  gap: 1rem;
}