.auth-layout {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, var(--neutral-white-color), var(--secondary-blue-color));
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	position: relative;
	overflow: hidden;
}

.auth-layout-navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	padding: 2rem 5rem;
}

.auth-layout-navbar *[data-select-component] {
  max-width: clamp(7.5rem, 3vw, 10.625rem);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}