.user-details-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 4.5rem);
  gap: 1rem;
  padding: 0 4.5rem;
}

.user-details-section-item {
  border-radius: 0.25rem;
  border: 0.125rem solid #d7d7d7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  gap: 1rem;
}

.user-details-section-item-label:not([data-email-field]) {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--secondary-black-color);
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}
