.scroll-to-top-btn {
  position: fixed;
  right: 0;
  bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-blue-color);
  padding: 1.25rem;
}

.scroll-to-top-btn-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--primary-white-color);
}

.scroll-to-top-btn:hover {
  background-color: #1e5ba2;
}