.rules-in-progress-modal-content {
  width: 100%;
  max-width: 56.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: var(--primary-white-color);
}

.rules-in-progress-modal-content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 0.0625rem solid var(--border-white-color);
}

.rules-in-progress-modal-content-header-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}

.rules-in-progress-modal-content-grid {
  width: 100%;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rules-in-progress-modal-content-grid-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
  height: 100%;
}

.rules-in-progress-modal-content-grid-rules-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}

.rules-in-progress-modal-content-grid-rules-actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.rules-in-progress-modal-content-grid-rules-result {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--primary-black-color);
  letter-spacing: 0.02rem;
}
