.brand {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid var(--neutral-grey-color);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
  height: 7.5rem;
}

.brand:hover {
  border: 0.0625rem double var(--secondary-grey-color);
}

.brand-img {
  transition: all 0.3s ease-in-out;
}

.brand:hover .brand-img {
  border: 0.0625rem double var(--secondary-grey-color);
  transform: scale(0.85);
  border-radius: 0.25rem;
}