*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

button {
	border: none;
	cursor: pointer;
	background-color: inherit;
}

input {
	outline: none;
  border: none;
}

a {
  text-decoration: none;
}

